﻿@model IEnumerable<ProyectoEncuestas.Models.EncuestasCE>

@{
    ViewBag.Title = "Encuestas Activas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th colspan="3">
           
        </th>
        <th>
            @Html.Action("cmbCategorias_WithSelect", "Categoria", new { id = ViewBag.categoria_id })
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        
        <td>
            @item.created_at.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Responder", "FormAnswer", new { id=item.id }) 
        </td>
    </tr>
}

</table>

@section Scripts{
    <script type="text/javascript">
        $('#categoria_id').change(function (event) {
            
            document.location.href = "/Encuesta/Activas/" + $(this).val();
        });
    </script>    
}