﻿@model IEnumerable<ProyectoEncuestas.Models.EncuestasCE>

@{
    ViewBag.Title = "Administración de Encuestas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nueva Encuesta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_name)
        </td>
        <td>
            @item.created_at.ToShortDateString()
        </td>
        <td>
            
            @Html.ActionLink("Editar Preguntas", "Index", "Preguntas", new { id = item.id }, "id"  ) |
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id }, new { @class = "lnkDelete" } )
        </td>
    </tr>
}

</table>
@section scripts{
    <script type="text/javascript">
        $('.lnkDelete').click(function (event) {
            var encuesta = $(this).parent().parent().children('td:nth-child(2)').text();
            if (!confirm("¿Esta usted seguro de eliminar esta encuesta: '" + encuesta.trim() + "' ?")) {
                event.preventDefault();
            }
        });
    </script>    
    
}
