﻿@model ProyectoEncuestas.Models.EncuestasCE

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de la encuesta: @Model.nombre</h2>

<div>
    
    <p>
        @Html.ActionLink("Regresar", "Admin")
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Model.created_at.ToShortDateString()
        </dd>

    </dl>
</div>


@Html.Action("IndexPartial", "Preguntas", new { id = Model.id })


