﻿@model ProyectoEncuestas.Models.EncuestasCE

@{
    ViewBag.Title = "Encuesta @Model.nombre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responde la encuesta</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Model.created_at.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_name)
        </dd>

    </dl>
</div>
@Html.Action("FormPartialAnswers", "Preguntas", new { id = Model.id })

<p>
    
    @Html.ActionLink("Regresar", "Activas","Encuesta")
</p>
