﻿@model IEnumerable<ProyectoEncuestas.Models.EncuestasCE>

@{
    ViewBag.Title = "MyAnswers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Encuestas</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria_name)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.status_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria_name)
        </td>
        <td>
            @item.created_at.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_name)
        </td>
    </tr>
}

</table>
