﻿@model IEnumerable<ProyectoEncuestas.Models.status>

<select id="status_id" name="status_id" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.id" @(item.id  == ViewBag.statusId?"selected":"" ) >@item.status1</option>
    }
</select>