﻿@model IEnumerable<ProyectoEncuestas.Models.preguntas>
@{
    Layout = null;
}


@using (Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div class="">
        <hr />
       
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
        <input type="hidden" value="@Model.First().encuesta_id" id="encuesta_id" name="encuesta_id" />
            @foreach (var item in Model)
            {
                <div class="form-group">
                    <label for="respuesta-@item.id" class="control-label">@item.pregunta</label>
                    <input type="text" class="form-control" id="respuesta-@item.id" name="respuestas.@item.id" maxlength="100" required />
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Responder" class="btn btn-default" />
                </div>
            </div>
</div>
}
