﻿@model IEnumerable<ProyectoEncuestas.Models.preguntas>
@{
    Layout =  null ;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
        
    </tr>
}

</table>
