﻿@model IEnumerable<ProyectoEncuestas.Models.preguntas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.encuestaName</h2>

<p>
    @Html.ActionLink("Nueva Pregunta", "Create", new { id = ViewBag.encuestaId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.encuesta_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pregunta, new { @class = "txtPregunta" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.encuesta_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new { @class = "lnkDelete" })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Admin","Encuesta")
</div>
@section scripts{
    <script type="text/javascript">
        $('.lnkDelete').click(function (event) {
            var pregunta = $(this).parent().parent().find('.txtPregunta').text();
            if (!confirm("¿Esta usted seguro de eliminar esta pregunta: '" + pregunta + "' ?")) {
                event.preventDefault();
            }
        });
    </script>
}
