﻿@model IEnumerable<ProyectoEncuestas.Models.categorias>
<select id="categoria_id" name="categoria_id" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.id" @(item.id == ViewBag.categoriaId ? "selected" : "" )>@item.categoria</option>
    }
</select>
