﻿@model IEnumerable<ProyectoEncuestas.Models.CategoriasCE>

@{
    ViewBag.Title = "Listado de Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nueva Categoría", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria, new { @class = "txtCategoria" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id }, new { @class = "lnkDelete"})
        </td>
    </tr>
}

</table>
@section scripts{
    <script type="text/javascript">
        $('.lnkDelete').click(function (event) {
            
            var categoria = $(this).parent().parent().children('td:nth-child(1)').text();
            if (!confirm("¿Esta usted seguro de eliminar esta categoria: '" + categoria.trim() + "' ?")) {
                event.preventDefault();
            }
        })
    </script>    
}
