﻿<h2>@ViewBag.Title.</h2>


<address>
    <p>Sistema de encuestas desarrollado por Richard Hernández para IA Interactive.</p>
    Queretaro<br />
    <abbr title="Phone">P:</abbr>
    +521 (312) - 188 - 9050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rherl23@gmail.com">rherl23@gmail.com</a><br />
</address>