﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Sistema de Encuestas</h2>
<br />

<div class="jumbotron">
    
    <div class="row">
        <div class="col-xs-12 col-md-6"><img src="~/Content/logo.jpg" alt="Logo IA Interactive" /></div>
        <div class="col-xs-12 col-md-6">
            <p><strong>Powered By:</strong></p>
            Richard Hernández.<br />
            <a href="mailto:rherl23@gmail.com">rherl23@gmail.com</a>

        </div>
    </div>
</div>
